body {
  padding: 5px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #0f0f0f;
  color: #fff; }

a {
  color: #00d; }

.header {
  flex: 0 0 auto;
  height: 140px; }

#particles-ashes {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  top: 0;
  left: 0; }

.content {
  flex: 1 1 auto;
  height: 100%;
  z-index: 10;
  margin: auto;
  padding: 20px 10px; }

.footer {
  flex: 0 0 auto; }
